POSTGRES_DB=setDatabaseName
POSTGRES_USER=setDatabaseUser
POSTGRES_PASSWORD=setDatabasePassword
DB_URL=setDatabaseUrl


# JWT
JWT_SECRET=your-very-long-secret-key
WT_ACCESS_TOKEN_EXPIRATION=900000
JWT_ISSUER=your-issuer-name

# 7 days
JWT_REFRESH_TOKEN_EXPIRATION=604800000

