#===========================
# Database Configuration
#===========================
POSTGRES_DB=setDatabaseName
POSTGRES_USER=setDatabaseUser
POSTGRES_PASSWORD=setDatabasePassword
DB_URL=setDatabaseUrl

#===========================
# JWT
#===========================
JWT_SECRET=your-very-long-secret-key
WT_ACCESS_TOKEN_EXPIRATION=900000
JWT_ISSUER=your-issuer-name


#===========================
## Refresh Token Configuration
#==========================
REFRESH_TOKEN_EXPIRATION=604800000
REFRESH_TOKEN_ROTATION_ENABLED=true
REFRESH_TOKEN_MAX_DEVICES=5
REFRESH_TOKEN_REUSE_DETECTION=true
REFRESH_TOKEN_REVOKE_ON_PASSWORD_CHANGE=true
REFRESH_TOKEN_CLEANUP_CRON=0 0 2 * * *



# ==========================
# Admin User Configuration
#=========================
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123


# ==========================
# Google OAuth2 Configuration
# ==========================
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
